body {
	background-color: crimson;
}
header {
	border: solid 5px black;
	background-color: white;
	margin: -9px -8px 10px -8px;
	padding: 5px;
	animation-name: change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
footer {
	background-color: white;
	margin: 0px -10px 5px -12px;
	padding: 10px;
	padding-left: 15px;
}
h1 {
	font-family: "Baskerville Old Face", arial, sans-serif;
	font-size: 300%;
}	
ul {
	margin: -10px 0px -10px 10px;
	padding: 15px;
	font-family: "Baskerville Old Face", arial, sans-serif;
	list-style-type: none;
}
h2 {
	font-family: "Baskerville Old Face", arial, sans-serif;
}
/*img {
	height: auto;
	width: auto;
	clear: right;
}*/
div.Demo {
	margin-bottom: 5px;
}
#navLinks li, h2 {
	display: inline;
	padding-left: 40px;
}
#Bio {
	border: 3px dotted black;
	font-size: 36px;
	padding: 25px 5px;
}
.pointAnimate {
  position: fixed;
  top: 720px;
  right: -250px;
  transition: 1s;
}
.pointAnimate:hover {
  right: 1080px;
  transition: 1s;
}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	clear: right;
}
.tableContainer {
  display: table;
  border-spacing: 10px;
}
.tableRow {
  display: table-row;
}
.tableCell {
  vertical-align: top;
  display: table-cell;
}
a.highlight:hover {
	background-color: white;
}
a:link {
	color:black;
	display: inline;
	list-style-type: none;
}
a:visited {
	color:black;
}
a:hover {
	color:#39CCCC;
}
@keyframes change {
	0% {border-color: black;}
	15% {border-color: yellow;}
	30% {border-color: purple;}
	45% {border-color: #39CCCC;}
	60% {border-color: black;}
	75% {border-color: yellow;}
	90% {border-color: purple;}
	100% {border-color: black;}
}
/*div:hover, img {

}*/