body {
	background-color: crimson;
}
h1 {
	font-family: "Baskerville Old Face";
	font-size: 300%;
}	
p {
	font-family: "Baskerville Old Face";
	color: darkgrey;
}
h2 {
	font-family: "Baskerville Old Face";
}
