body {
	background-color: crimson;
}
h1 {
	font-family: "Baskerville Old Face", arial, sans-serif;
	font-size: 300%;
}	
p {
	font-family: "Baskerville Old Face", arial, sans-serif;
	color: darkgrey;
}
h2 {
	font-family: "Baskerville Old Face", arial, sans-serif;
}
.frame img {
	border: 5px ridge black;
	background-color: grey;
}
ul {
	margin-left: 5%;
	margin-top: 0%
	padding: 25px;
	font-family: "Baskerville Old Face", arial, sans-serif;
	list-style-type: none;
	margin: 0px;
}
#navLinks li, h2 {
	display: inline;
	padding-left: 50px;
}
a.highlight:hover {
	background-color: white;
}
a:link {
	color:black;
	display: inline;
	list-style-type: none;
}
a:visited {
	color:black;
}
a:hover {
	color:#39CCCC;
}