body {
	background-color: crimson;
}
h1 {
	font-family: "Baskerville Old Face", arial, sans-serif;
	font-size: 300%;
}	
p {
	margin-left: 5%;
	font-family: "Baskerville Old Face", arial, sans-serif;
}
h2 {
	font-family: "Baskerville Old Face", arial, sans-serif;
}
ul {
	margin-left: 5%;
	margin-top: 0%
	padding: 25px;
	font-family: "Baskerville Old Face", arial, sans-serif;
	list-style-type: none;
	margin: 0px;
}
#navLinks li, h2 {
	display: inline;
	padding-left: 50px;
}
a.highlight:hover {
	background-color: white;
}
.center {
	margin-top: 2.5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}
#borderBox {
	border: 5px solid #39CCCC;
	padding: 25px;
	margin: 10px;
}
a:link {
	color:black;
	display: inline;
	list-style-type: none;
}
a:visited {
	color:black;
}
a:hover {
	color:#39CCCC;
}