div.gallery {
	border: 5px ridge black;
	background-color: grey;
	width: 300px;
	margin: 5px;
}
div.gallery img {
	width: auto;
	height: auto;
}
div.desc {
	padding: 10px;
	text-align: center;
	background-color: white;
}
#navLinks li, h2 {
	display: block;
}
ul {
	margin: -10px 0px -10px 10px;
	padding: 10px
}