#box {
	border: 5px dotted #39CCCC;
}
.tableRow {
	border-bottom: solid; 
	border-color: #7b96bc;
}
div.tableRow h1{
	background-color: grey;
}
div.tableCell h2{
	font-size: 1em;
}
#navLinks li, h2 {
	display: block;
	padding-left: 40px;
}
ul {
	margin: -10px 0px -10px 10px;
	padding: 10px
}